.app {
    width: 100%;
    height: 100%;
}

.img-div-bottom {
    position: absolute;
    /* left: 79%; */
    right: 0;
    bottom: -30rem;
    margin-right: 10rem;
    /* top: 60%; */
}

.bgbottom {
    height: 40.8vh;
    width: auto;
}

.img-div-top {
    position: absolute;
    left: 0rem;
    top: 0rem;
    max-width: 20vw;
    height: 100vh;
    z-index: -1;
}

.bgtop {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.Nav {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center;
    position: absolute;
    bottom: 2rem;
    height: 2.4rem;
    left: 103.5rem; */
}

.navLink {
    display: flex;
    justify-content: space-around;
    width: 28.5rem;
    list-style: none;
    /* Group 350
    height: 24px;
    left: 103.5rem;
    top: 9.6rem; */
}

li {
    text-decoration: none;
}

.Privacy {
    position: relative;
}

.logoBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    /* position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */
}

h2 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.form-field {
    /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-flow: column wrap; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.7rem;
    flex-direction: column;
}

div.form-field .control h3 {
    /* display: block;
    font-size: 1.2rem;
    font-weight: normal;
    left: 0;
    margin: 0;
    position: absolute;
    top: -2rem;
    transition: all 400ms;
    width: 100%; */
    margin-left: 20rem;
}

h3 {
    font-size: 3.2rem;
    font-weight: 400;
}

.needInput {
    background: #ffffff;
    border: 1px solid #073a93;
    box-sizing: border-box;
    border-radius: 7.8rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    height: 6rem;
    width: 76rem;
    padding: 2rem 2.2rem;
}

.needButton {
    background: #1b70e5;
    box-shadow: 0px 0.4rem 0.8rem rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 50rem;
    border: none;
    color: white;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer;
    width: 11rem;
}

.onb oarding {
    display: flex;
    justify-content: space-around;
}

.has-error {
    color: red;
    text-align: right;
    margin: 0.5rem;
}

.small-input {
    border: 1px solid #073a93;
    border-radius: 10rem;
    height: 5rem;
    width: 35rem;
    left: 0px;
    top: 0px;
    padding: 1.2rem 2.2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.buttonDiv {
    display: flex;
    justify-content: space-between;
    width: 30rem;
}

.nextButton {
    background: #1b70e5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 50rem;
    border: none;
    height: 4rem;
    width: 9rem;
    color: white;
}

.prevButton {
    border: none;
    text-align: center;
    text-decoration-line: underline;
    background: transparent;
    /* Text/Shade */
    color: #949295;
}